<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Create New Customer
    <form method="post" action="{% url 'index' %}">
        <!-- avoid CSRF verification failed error. -->
        {% csrf_token %}
        Name : <input type="text" name="name"><br>
        Email : <input type="text" name="email"><br>
        Phone_no : <input type="text" name="phone_no"><br>
        <button>Submit</button>
    </form>
</body>
</html>