<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <a href="/customer/create">
        <button>Create Customer</button>
    </a>
    <table>
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone_Number
                </th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customer %}
            <tr>
                <td>{{customer.id}}</td>
                <td>{{ customer.name }}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.phone_no}}</td>
                <td>
                    <a href="/customer/update/{{customer.id}}">
                        <button>Update</button>
                    </a>
                </td>
                <td>
                    <a href="/customer/delete/{{product.id}}">
                        <button>Delete</button>
                    </a>
                </td>
                <td>
                    <a href="/product/customer/{{customer.id}}">
                        <button>
                            Dashboard
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
</body>

</html>