<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <form method="post" action="/product/update/{{ product.id }}">

            {% csrf_token %}
            <div> Name : <input type="text" value={{ product.name }} name="name"> </div>
            <div>Quantity : <input type="text" value={{ product.quantity }} name="qty"> </div>
            <div>Price : <input type="text" value={{ product.price }} name="price"> </div>
            <div>Date : <input type="date" value={{product.date}} /></div>
            <div>Customer ID : <input type="text" value={{ product.customer_id }} name="customer_id"> </div>
            <div>Active : <input type="checkbox" checked={{product.active}} name="active" /></div>
            <button>Update</button>
        </form>
    </div>
</body>

</html>